<form action="/search/receive" method="POST">

<h1>郵便番号で検索</h1><br>
<p>完全一致:<input type="text" name="zipcode_full_search"></p>
<p>部分一致:<input type="text" name="zipcode_part_search"></p>

<h1>住所で検索</h1><br>
<p>完全一致:<input type="text" name="address_full_search"></p>
<p>部分一致:<input type="text" name="address_part_search"></p>

<input type="submit" name="検索">
</form>